h1 {
    font-size: 70px;
    border: 5px dashed blueviolet;
    color: blue;
}
p{
    font-family: Verdana;
    color: blue;
    font-size: 16px;
    line-height: 1.5;
}

.style1{
    font-family: 'Courier New';
    color: blueviolet;
}

a{
    color:black;
}
a:hover{
    color: burlywood;
    font-size: 20px;
}
a:active{
    color:aquamarine;
}